
.App {
  text-align: center;
  min-height: 100vh;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 15%;
}

.Card {
  display: block;
  height: auto;
  margin: 2em;
  border: 1px solid white;
  width: 18%;
}

